body{
    background-color: #111111;
}

.lancamentos{
    margin-bottom: 40px;
}

.carouselIndicator.off{
    background-color: #111111;
    border-radius: 50%;
    height: 20px;
    width: 20px;
}

.carouselIndicator.active{
    background-color: #e5202b;
    border-radius: 50%;
    height: 20px;
    width: 20px;
}

.titulo{
    color: #ffffff;
    font-weight: bold;
    font-family: 'Atkinson Hyperlegible', sans-serif;
}

.card{
    text-align: start;
    border-top-left-radius: 50px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 50px;
    transition: transform .2s;
}

.card:hover{
    transform: scale(1.15);
}

.imgCard:focus{
    border-color: none;
    box-shadow: none;
}

.card-img-top{
    border-radius: 10px;
    margin-top: 10px;
}

.card-titulo{
    font-family: 'Atkinson Hyperlegible', sans-serif;
    font-size: 25px;
}

.preco{
    font-size: 20px;
    font-family: 'Atkinson Hyperlegible', sans-serif;
    font-weight: bold;
    margin-top: 20px;
}

.addSacola{
    color: #ffffff;
    font-size: 20px;
}


.addFav{
    color: #ffffff;
    font-size: 20px;
}

.addSacola:focus{
    border-color: none;
    box-shadow: none;
}

.addFav:focus{
    border-color: none;
    box-shadow: none;
}

.addSacola:hover{
    color: #e5202b;
}

.addFav:hover{
    color: #e5202b;
}

.verTodos{
    color: #ffffff;
    font-size: 20px;
    font-family: 'Atkinson Hyperlegible', sans-serif;
    font-weight: bold;
    background-color: #000000;
    border-radius: 50px;
    border-width: 2px;
    border-color: #ffffff;
    padding: 10px;
}

.verTodos:hover{
    color: #e5202b;
    border-color: #e5202b;
}

.verTodos:focus{
    border-color: none;
    box-shadow: none;
}

#myFooter{
    padding: 10px;
}