* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: 0;
}

body{
  background-color: #111111;
}

.container{
  margin-top: 5%;
  display: grid;
  place-items: center;
}

.card{
  border-top-left-radius: 60px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 60px;
  padding: 30px;
  width: 100%;
  max-width: 420px;
  padding: 25px;
}

h3{
  font-family: 'Atkinson Hyperlegible', sans-serif;
  font-weight: bold;
}

label{
  margin-top: 30px;
  margin-bottom: 10px;
  font-family: 'Atkinson Hyperlegible', sans-serif;
  font-weight: bold;
}

.input{
  font-size: 20px;
  font-family: 'Atkinson Hyperlegible', sans-serif;
  background-color: #000000;
  border-color: #ffffff;
  border-width: 2px;
  border-radius: 50px;
  box-sizing: border-box;
}

.input:hover{
  border-color: #e5202b;
}

.input:focus{
  border-color: #e5202b;
  box-shadow: none;
}

.mensagemInput{
  font-size: 20px;
  font-family: 'Atkinson Hyperlegible', sans-serif;
  color: #ffffff;
  background-color: #000000;
  border-color: #ffffff;
  border-width: 2px;
  box-sizing: border-box;
  height: 100px;
  border-top-left-radius: 20px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 20px;
}


.mensagemInput:hover{
  border-color: #e5202b;
}

.mensagemInput:focus{
  border-color: #e5202b;
  box-shadow: none;
}

.possuiLogin{
  font-family: 'Atkinson Hyperlegible', sans-serif;
  font-weight: bold;
}

.linkLogin{
  color: #e5202b;
}

.esqueci{
  font-family: 'Atkinson Hyperlegible', sans-serif;
  font-weight: bold;
}

.linkEsqueciSenha{
  color: #ffffff;
}

.linkEsqueciSenha:hover{
  color: #e5202b;
}

.btnCadastro{
  color: #ffffff;
  background-color: #000000;
  font-size: 20px;
  font-family: 'Atkinson Hyperlegible', sans-serif;
  font-weight: bold;
  border-color: #000000;
  border-radius: 50px;
  border-width: 2px;
  width: 150px;
  margin-top: 30px;
}

.btnCadastro:hover{
  color: #e5202b;
}

.btnCadastro:focus{
  border-color: none;
  box-shadow: none;
}

.btnLogin{
  color: #ffffff;
  background-color: #000000;
  font-size: 20px;
  font-family: 'Atkinson Hyperlegible', sans-serif;
  font-weight: bold;
  border-color: #ffffff;
  border-radius: 50px;
  border-width: 2px;
  width: 150px;
  margin-top: 30px;
}

.btnLogin:hover{
  color: #e5202b;
  border-color: #e5202b;
}

.btnLogin:focus{
  border-color: none;
  box-shadow: none;
}

.btnCadastro2{
  color: #ffffff;
  background-color: #000000;
  font-size: 20px;
  font-family: 'Atkinson Hyperlegible', sans-serif;
  font-weight: bold;
  border-color: #ffffff;
  border-radius: 50px;
  border-width: 2px;
  width: 150px;
  margin-top: 30px;
}

.btnCadastro2:hover{
  color: #e5202b;
  border-color: #e5202b;
}

.btnCadastro2:focus{
  border-color: none;
  box-shadow: none;
}

.btnEnviar{
  color: #ffffff;
  background-color: #000000;
  font-size: 20px;
  font-family: 'Atkinson Hyperlegible', sans-serif;
  font-weight: bold;
  border-color: #ffffff;
  border-radius: 50px;
  border-width: 2px;
  width: 150px;
  margin-top: 30px;
}

.btnEnviar:hover{
  color: #e5202b;
  border-color: #e5202b;
}

.btnEnviar:focus{
  border-color: none;
  box-shadow: none;
}

#myFooter{
    padding: 10px;
    margin-top: 60%;
}