body{
    background-color: #111111;
}

.carousel-inner{
    border-top-left-radius: 60px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 60px;
}

.carouselIndicator.off{
    background-color: #111111;
    border-radius: 50%;
    height: 20px;
    width: 20px;
}

.carouselIndicator.active{
    background-color: #e5202b;
    border-radius: 50%;
    height: 20px;
    width: 20px;
}

.titulo{
    font-family: 'Atkinson Hyperlegible', sans-serif;
    font-size: 50px;
    font-weight: bold;
    color: #ffffff;
    margin-top: 20px;
}

.preco{
    font-size: 30px;
    font-family: 'Atkinson Hyperlegible', sans-serif;
    font-weight: bold;
    color: #ffffff;
}

.parcela{
    font-size: 20px;
    font-family: 'Atkinson Hyperlegible', sans-serif;
    color: #ffffff;
}

.tamanhoTitulo{
    font-size: 20px;
    font-family: 'Atkinson Hyperlegible', sans-serif;
    font-weight: bold;
    color: #ffffff;
}

.tamanhoSelect{
    color: #ffffff;
    font-size: 20px;
    font-family: 'Atkinson Hyperlegible', sans-serif;
    background-color: #000000;
    border-color: #ffffff;
    border-width: 2px;
    border-radius: 50px;
}

.tamanhoSelect:hover{
    border-color: #e5202b;
}

.tamanhoSelect:focus{
    border-color: #e5202b;
}

.btnAdd{
    color: #000000;
    background-color: #ffffff;
    font-size: 20px;
    font-family: 'Atkinson Hyperlegible', sans-serif;
    font-weight: bold;
    border-radius: 50px;
    border-width: 2px;
}

.btnAdd:hover{
    color: #e5202b;
    border-color: #e5202b;
}

.btnAdd:focus{
    border-color: none;
    box-shadow: none;
}

.btnComprar{
    color: #ffffff;
    background-color: #000000;
    font-size: 30px;
    font-family: 'Atkinson Hyperlegible', sans-serif;
    font-weight: bold;
    border-radius: 50px;
    border-width: 2px;
    border-color: #ffffff;
}

.btnComprar:hover{
    color: #e5202b;
    border-color: #e5202b;
}

.btnComprar:focus{
    border-color: none;
    box-shadow: none;
}

.descricao{
    font-size: 20px;
    font-family: 'Atkinson Hyperlegible', sans-serif;
    color: #ffffff;
    margin-top: 20px;
    margin-bottom: 20px;
}

.card{
    text-align: start;
    border-top-left-radius: 50px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 50px;
    transition: transform .2s;
}

.card:hover{
    transform: scale(1.15);
}

.imgCard:focus{
    border-color: none;
    box-shadow: none;
}

.card-img-top{
    border-radius: 10px;
    margin-top: 10px;
}

.card-titulo{
    font-family: 'Atkinson Hyperlegible', sans-serif;
    font-size: 25px;
}

.cardPreco{
    font-size: 20px;
    font-family: 'Atkinson Hyperlegible', sans-serif;
    font-weight: bold;
    margin-top: 20px;
}

.addSacola{
    color: #ffffff;
    font-size: 20px;
}


.addFav{
    color: #ffffff;
    font-size: 20px;
}

.addSacola:focus{
    border-color: none;
    box-shadow: none;
}

.addFav:focus{
    border-color: none;
    box-shadow: none;
}

.addSacola:hover{
    color: #e5202b;
}

.addFav:hover{
    color: #e5202b;
}


#myFooter{
    padding: 10px;
    margin-top: 20%;
}

@media screen and (max-width: 994px) and 
(min-width: 0px) {
    .tamanhotitulo{
        font-size: 30px;
    }

    .tamanhoSelect{
        font-size: 30px;
    }

    .btnAdd{
        font-size: 30px;
        box-sizing: border-box;
    }
    .btnComprar{
        font-size: 35px;
        
    }
}